.admin-container {
  display: flex;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

/* SIDEBAR */
.sidebar {
  width: 250px;
  background-color: #5f7db3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

/* PERFIL */
.profile-section {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

/* MENU */
.menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menu button {
  background-color: #2f3a63;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 14px;
}

.menu button:hover {
  background-color: #1f2747;
}

/* LOGOUT */
.logout {
  margin-top: 30px;
}

.logout-btn {
  background-color: #d63c2f;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s ease;
}

.logout-btn:hover {
  background-color: #b72e24;
}

/* MAIN CONTENT */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.topbar {
  background-color: #2f3a63;
  padding: 5px;
  text-align: center;
  color: white;
}

.topbar h1 {
  font-weight: 500;
}

.content-area {
  flex: 1;
  background-color: #e5e5e5;
}
.menu button {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #2f3a63;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 14px;
}

.logout-btn {
  display: flex;
  align-items: center;
  gap: 10px;
}
.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 24px;
  padding: 20px;
}
.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 24px;
  padding: 20px;
}