/* LOGIN CARD */

.login-card {
  background: #f2f2f2;
  padding: 40px;
  border-radius: 20px;
  width: 420px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}

.login-card h2 {
  font-weight: 600;
  margin-bottom: 10px;
  color: #1e1e1e;
}

.input-group {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 8px;
}

.input-group label {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.input-group input {
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: #dcdcdc;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.input-group input:focus {
  outline: none;
  background-color: #cfcfcf;
}

.login-button {
  margin-top: 10px;
  padding: 14px;
  background-color: #5f7db3;
  color: white;
  font-weight: 500;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.login-button:hover {
  background-color: #4c6696;
}
.google-button {
  background-color: white;
  color: #444;
  border: 1px solid #ccc;
  margin-top: 10px;
}

.google-button:hover {
  background-color: #f5f5f5;
}

.register-text {
  margin-top: 15px;
  font-size: 14px;
  text-align: center;
}

.register-link {
  color: #007bff;
  cursor: pointer;
  font-weight: bold;
}

.register-link:hover {
  text-decoration: underline;
}