/* Contenedor general */
.usuarios-container {
  display: flex;
  min-height: 100vh;
  background-color: #f5f5f5;
}

/* Área principal */
.usuarios-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Header */
.usuarios-header {
  background-color: #8c8c8c;
  padding: 25px;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 500;
}

/* Área de contenido */
.usuarios-content {
  padding: 40px;
}

/* Tabla */
.usuarios-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px;
}

.usuarios-table th {
  background-color: #dcdcdc;
  padding: 15px;
  font-weight: 500;
  text-align: center;
}

.usuarios-table td {
  background-color: #eeeeee;
  padding: 15px;
  text-align: center;
}

/* Estatus */
.estatus-activo {
  font-weight: 500;
}

/* Acciones */
.acciones {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.btn-icon {
  border: none;
  background-color: #e0e0e0;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s ease;
}

.btn-icon:hover {
  background-color: #cfcfcf;
}

.btn-icon.delete:hover {
  background-color: #f8caca;
}
.btn-icon svg {
  stroke: #333;
  transition: 0.2s;
}

.btn-icon:hover svg {
  stroke: #000;
}

.btn-icon.delete:hover svg {
  stroke: #b00020;
}
/* Botón agregar */
.usuarios-actions-top {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.btn-agregarS {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #8c8c8c;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-agregar:hover {
  background-color: #43a047;
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  background: white;
  width: 400px;
  border-radius: 10px;
  padding: 20px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-body {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
}

.modal-body input,
.modal-body select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.btn-cancelar {
  background: #ccc;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-guardar {
  background: #8c8c8c;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
}